.past-project-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.past-project-header {
  width: 100%;
  height: 112px;
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: auto;
  max-height: var(--dl-size-size-large);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 30px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.past-project-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
@media(max-width: 767px) {
  .past-project-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .past-project-header {
    padding: var(--dl-space-space-unit);
  }
}
