html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* media queries are stored on */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-image: linear-gradient(to right, #417ec6, #3094d2, #2da8db, #3ebce0, #5bcfe3, #50dae4, #4de6e1, #55f0db, #35f5c8, #30f9ad, #4afb8a, #6cfb5f);
  }
}
nav {
  position: sticky;
  border-radius: 5px;
  border: 10px solid transparent;
  background-color: rgba(245, 245, 245, 0.30);
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  text-align: center;
}
a {
  color: white !important;
  margin: 20px;
  text-decoration: none !important; 
  text-shadow: 1px 1px 2px grey;
}
h1, p {
  text-align: center;
  text-shadow: 1px 1px 2px grey;
  max-width: 500px;
}

